<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.bepinex.dev" value="https://nuget.bepinex.dev/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.bepinex.dev">
      <package pattern="Il2CppInterop.*" />
    </packageSource>

    <!-- Все остальные пакеты (стандартные) берем из nuget.org -->
    <packageSource key="nuget.org">
      <package pattern="Il2CppInterop.*" />
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>

  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>
